.c-slider {
    .flickity-page-dot {
        background: $primary_color;
    }

    .flickity-page-dot.is-selected {
        background: $primary_color;
        outline: solid 5px $accent_color;
    }
}
