/*------------------------------------*\
  #Badge
\*------------------------------------*/
.c-badge {
    background-color: $accent_color;
    padding: 8px 13px;
    border-radius: 5px;
    color: $npm_main_white_color;
}

.c-badge--accent  { 
  background-color: $primary_color;
}