.c-nav__item {
    transition: 0.3s all;

    &:hover,
    & :focus {
        background-color: $accent_color;

        .c-nav__child-list {
            display: block;
        }

        .c-nav__icon {
            color: $npm_main_white_color;
        }
    }
}

.c-nav__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.c-nav__child-list {
    transform: translateY(23%);
}

.c-nav__child-item {
    transform: translateX(calc(100% - 56px));
    width: max-content;
    transition: 0.5s all;
}
